<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col  >
        <div class="wrapper2" ><ion-img class="square" src="../assets/img/marketplace.png"></ion-img></div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid >       
    <ion-row class="test">
      <ion-col >   
         <button class="btn btn-info">Adquirir Ticktes</button>
         <ion-grid  class="btnpeque">       
          <ion-row>
            <ion-col >         
              <ion-input type="number" class="inputnumber" value="333"></ion-input>        
            </ion-col>
            <ion-col >
              <button class="btn2 btn-info">Deportes</button>
            </ion-col> 
                         
          </ion-row>
      </ion-grid> 
      </ion-col>
      <ion-col >
        <button class="btn btn-info">Reclamar Premios</button>
        <ion-grid  class="btnpeque">       
          <ion-row>
            <ion-col >         
              <button class="btn2 btn-info">Tecnología</button>             
            </ion-col>
            <ion-col >
              <button class="btn2 btn-info">Deportes</button>
            </ion-col>              
          </ion-row>
          <ion-row >
            <ion-col >            
              <button class="btn2 btn-info">Electrodomésticos</button>            
            </ion-col>
            <ion-col >
              <button class="btn2 btn-info">Movidad</button>
            </ion-col>                
          </ion-row>
          <ion-row >
            <ion-col >            
              <button class="btn2 btn-info">Video juegos</button>            
            </ion-col>
            <ion-col >
              <button class="btn2 btn-info">Alimentación</button>
            </ion-col>                
          </ion-row>
          <ion-row >
            <ion-col >            
              <button class="btn2 btn-info">Moda</button>            
            </ion-col>
            <ion-col >
              <button class="btn2 btn-info">Ferretería</button>
            </ion-col>                
          </ion-row>
          <ion-row >
            <ion-col >            
              <button class="btn2 btn-info">Turismo</button>            
            </ion-col>
            <ion-col >
              <button class="btn2 btn-info">VIP</button>  
            </ion-col>                
          </ion-row>
      </ion-grid> 
      </ion-col>    
    </ion-row>
</ion-grid> 
</ion-content>