@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
ion-fab-button {
  --background: var(--ion-color-step-150, #fff);
  --background-hover: var(--ion-color-step-200, #f2f2f2);
  --background-focused: var(--ion-color-step-250, #d9d9d9);

  --color: var(--ion-color-primary, #3880ff);
}

/*
 * Material Design uses the ripple for activated
 * so only style the iOS activated background
 */
.ios ion-fab-button {
  --background-activated: var(--ion-color-step-250, #d9d9d9);
}

$categories: (
  ionic: var(--ion-color-primary),
  angular: #ac282b,
  communication: #8e8d93,
  tooling: #fe4c52,
  services: #fd8b2d,
  design: #fed035,
  workshop: #69bb7b,
  food: #3bc7c4,
  documentation: #b16be3,
  navigation: #6600cc
);

.fisica{
  position: absolute;
  position: absolute;
  left: -73px;
  top: 35%;
  font-size: 37px;
  /* line-height: 15px; */
  color: #ffffff;
  transform: rotate(-90deg);
  border-bottom: outset;
  border-bottom-width: thin;
}
.tar{
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background-color: #DDDDDD;
  padding: 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12pt;
  color: #888888;
  text-align: center;
}

@each $track, $value in map-remove($categories) {
  ion-item-sliding[track='#{$track}'] ion-label {
    border-left: 2px solid $value;
    padding-left: 10px;
  }
}


.wrapper{
  margin-top: 50px;
  font-size: 50px;
  font-family: 'Bangers', cursive;  
}







ion-content {
  flex-direction: column;
  --padding-start: 5%;
  --padding-end: 5%;
  --background: var(--ion-color-primary-contrast);
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-item {
  flex-direction: column;
  --background: none;
}

.subtext {
  color: var(--ion-color-primary-contrast);
}

.ion-grid {
   display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-around;
  align-items: stretch;
  padding-left: 15%;
  border-radius: 29px;
  padding-right: 15%;
}

.prsTable{
  border-collapse: collapse; 
  width: 100%; height: 159px;
  margin: 4%;
  border-radius: 29px;
  
}
.prsCard{
    border-radius: 29px;
    background-repeat: no-repeat;
    background-image: url("/assets/img/1.png");
    /* background-size: cover; */
    background-position: 50% 50%;
    background-position: center;
  //background-color: #3880ff;
}

.wrapper2 {
  display: grid;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: start;
  justify-content: space-around;
  align-content: center;
}


.square {
  width: 50%;
  margin: 1%;
}

.label{
  color: rgb(255, 255, 255);
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}
.label2{
  
  font-size: 20px;
  color: #ffd600;
  font-family: 'Montserrat', sans-serif;
  
}
.label3{
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
}
.nameChallenges{
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffc409;
  border-radius: 10px;
  color: white;
  font-size: 11px;
}
.nameChallenges2{
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background: linear-gradient(90deg, rgba(101,18,127,1) 35%, rgba(201,158,214,1) 100%);
  border-radius: 10px;
  color: white;
  width: 35%;
  font-size: 11px;
}


/* .btn{
  background-image:url("/assets/img/btn5.png");
  background-repeat:no-repeat;
  height:100px;
  width:100px;
  background-position:center;
}
 */
span {
  margin: 0 10px;
}


.btn-blue:hover {
  background: #6600aa;
  box-shadow: 0 -2px 0 3px #6100a1 inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}
.btn {
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
.btn:last-child {
  margin-right: 0;
}

@media screen and (min-width: 960px) {
  .card {
    width: calc(960px - 4rem);
  }
}

.btn {
  --color: #000000; 
  /* --background-color: #d8d8d8; */
  /* --border-color: darken(#d8d8d8, 7.5%); */
  color: var(--color);
  font-family: inherit;

  /* background-color: var(--background-color); */
  padding: 0.6rem 0.9rem;
  /* border: solid 1px var(--border-color); */
  outline: none;
  position: relative;

  border-radius: 10rem;
  width: 277px;
  -moz-user-select: none;
  background: #4f0082;
  height: 63px;
  user-select: none;
  /* box-shadow: 0 0.2rem 0.4rem rgb(0 0 0 / 40%), 0 -0.3rem 0.6rem rgb(0 0 0 / 20%) inset; */
  transition: box-shadow 64ms ease-out;
  box-shadow: 0px -7px 0px 10px #4f0082 inset, -1px 2px 4px 4px rgb(3 25 41 / 17%), 0 15px rgb(255 255 255 / 25%) inset;
}
.btn:hover  {
  color: var(--color);
  font-family: inherit;
  padding: 0.6rem 0.9rem;
  outline: none;
  position: relative;
  border-radius: 10rem;
  width: 277px;
  -moz-user-select: none;
  background: #4f0082;
  height: 63px;
  user-select: none;
  transition: box-shadow 64ms ease-out;
  box-shadow: 0px -7px 0px 10px #5f009f inset, -1px 2px 4px 4px rgb(3 25 41 / 17%), 0 15px rgb(255 255 255 / 25%) inset;
}

.btn:active:after {
  opacity: 0;
}

.btn-info {
  --color: #ffffff;
    border: 3px solid #fff;
}

.test{
  text-align: center;
}

.btn2 {
  --color: #000000;
  color: var(--color);
  font-family: inherit;
  padding: 0.6rem 0.9rem;
  outline: none;
  position: relative;
  border-radius: 10rem;
  width: auto;
  -moz-user-select: none;
  background: #ffa200;
  user-select: none;
  transition: box-shadow 64ms ease-out;
  box-shadow: 0px -7px 0px 10px #ffa200 inset, 3px 4px 0px 0px #b56d00, 0 15px rgb(255 255 255 / 25%) inset;
  font-weight: bold;
  font-size: 14px;
}

.btnpeque{

  text-align: left;
  padding-left: 115px;
}
.inputnumber{
  background-color: #4f0082;
  border-radius: 20px;
  width: 86px;
  height: 86px;
  color: white;
  text-align-last: center;
  font-size:25px;
}