<ion-header>
  <ion-toolbar>
    <ion-title>Verificar Correo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf=" user$ | async as user">
  <div class="login-logo">
    <img src="assets/img/theRetos.PNG" alt="Ionic logo">
  </div>

  <ion-row>
   
    <ion-col>
      <h2>¡Bienvenido a bordo!</h2>
      <p>Se le ha enviado un correo de confirmacion {{user.email}}</p>
      <p>Por favor chequear tu bandeja y da click en el link para verificar</p>
   
    </ion-col>
  </ion-row>

  <ion-row>
   
    <ion-col>
      <div class="ion-padding">
        <ion-button (click)="onResend()" type="submit" expand="block">Reenviar Correo</ion-button>
      </div>
   
    </ion-col>
  </ion-row>

 

</ion-content>
