<ion-content fullscreen>
  <ion-grid>

    <ion-row>
      <ion-col  >

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <ion-col>      
      <table>
        <tbody>
          <tr>
            <td> <div class="wrapper" ><ion-img class="square" src="../assets/img/5.png"></ion-img></div></td>
            <td rowspan="2"> <img width="65%" src="../assets/img/perso1.png" /></td>
          </tr>
          <tr>
            <td>
              <div class="contenedor">
                <img width="85%" src="../assets/img/panel3.png" />
                <div class="centrado">
                  <p style="color:#FFC300;"> <strong>¿Te gustaría ganar TICKETS y retar al mundo entero?</strong></p>
                  <p>Bien! Llegaste al lugar indicado. En CREA TheRETOS® podrás crear tus juegos y
                    compartirlos con tus amigos y familiares. También podrás publicarlos para que
                    elmundo entero pueda participar.</p>
                    <dl>
                      <dt style="color:#FFC300;">Paso 1</dt>             
                      <dt style="color:#FFC300;">Paso 2</dt>
                      <dt style="color:#FFC300;">Paso 3</dt>
                      <dt style="color:#FFC300;">Paso 4</dt>
                    </dl>
                  <p>Espera un mensaje de confirmación a tu celular y vía correo electrónico.</p>
                  <p>Se prohíbe expresamente las actividades que hagan daño a la persona, al medio
                  ambiente o a la propiedad pública y privada.</p>
                </div>
              </div>
          </td>
          </tr>
        </tbody>
      </table>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
