<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="signup-logo">
    <img src="assets/img/theRetos.PNG" alt="Ionic Logo">
  </div>

  <form #signupForm="ngForm" novalidate>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="stacked" color="primary">Correo</ion-label>
        <ion-input  type="text" #email required>
        </ion-input>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button (click)="onResetPassword(email)" type="submit" expand="block">Recuperar</ion-button>
    </div>
  </form>

</ion-content>