<ion-header translucent>
  <ion-toolbar>
    <ion-title>Agregar Tickets</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-item>
            <ion-label>Cantidad de Tickets</ion-label>
            <ion-input [(ngModel)]="ticket" placeholder="Digite los tickets" type="number" pattern="[0-9]+" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}"></ion-input>
          </ion-item>
          <ion-button (click)="save(ticket)" expand="block" color="danger">Guardar</ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>