<!--  <ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
     <ion-segment *ngIf="ios" [(ngModel)]="segment">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
  



     <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText"
      (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">


      <h4 *ngFor="let tickets of Tickets">
        <ion-icon color="warning" name="ticket-outline"></ion-icon> {{tickets.total_ticket}}
      </h4>


      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons> 
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="all">
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

  <ion-content fullscreen>

  <ion-list>

    <ion-item button detail="true" *ngFor="let challeng of Challengs" class="tar">
      <ion-avatar slot="start" (click)="details(challeng)">
        <ion-icon name="flash"></ion-icon>
      </ion-avatar>
      <ion-label (click)="details(challeng)">
        <h2> {{challeng.name_challeng}}</h2>
       <h3>Categoria: {{challeng.category}}</h3>
        <ion-label color="secondary">Tickets: {{challeng.token_in}}</ion-label>

      </ion-label>
    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="roleAutorized">
    <ion-fab-button routerLink="create" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>  -->


<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="wrapper2">
          <ion-img class="square" src="../assets/img/33.png"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="wrapper">
          <div class="prsCard img-fluid">

            <table class="prsTable">
              <tbody>
                <tr style="height: 159px;">
                  <td style="height: 159px;">
                    <p class="fisica">Actividad Fisica</p>
                  </td>
                  <td style="width: 93.2%; height: 250px;">
                    <ion-row>
                      <ion-col size-xs="12" size-lg="4" size-md="4" size-sm="12" *ngFor="let challeng of Challengs" col-auto>

                        <table style="border-collapse: collapse; width: 70%; height: 286px;text-align: center;"
                          class="label2">
                          <tbody>
                            <tr>
                              <td style="text-align: -webkit-center;">
                                <ion-img style="cursor: pointer;width:50%;height:50%;" src="../assets/img/acti/act4.png"></ion-img>
                              </td>
                            </tr>
                            <tr style="height: 45px;">
                              <td style="width: 100%; height: 45px;"><b>{{challeng.name_challeng}}</b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Tickets para participar:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;"> <b class="label2">{{challeng.token_in}} <b
                                    class="label3">tickets</b></b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Fecha de Finalizacion:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;">
                                {{challeng.time_limit | date: 'dd-MM-yyyy'}}
                              </td>
                            </tr>
                            <tr style="height: 44px;">
                              <td style="width: 100%; height: 44px;">
                                <div class="popover__wrapper">
                                  <a >
                                    <h2 class="popover__title">Reglas del juego</h2>
                                  </a>
                                  <div class="popover__content">
                                    <p class="popover__message">{{challeng.description}}</p>
                                  </div>
                                </div>
                              </td>
                            </tr>
                            <tr style="height: 58px;">
                              <td style="width: 100%; height: 58px;">
                                <ion-img width="70" height="70" style="cursor: pointer;"
                                  src="../assets/img/comojuega.png" (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                          </tbody>
                        </table>



                      </ion-col>
                    </ion-row>



                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="wrapper">
          <div class="prsCard2 img-fluid">

            <table class="prsTable">
              <tbody>
                <tr style="height: 159px;">
                  <td style="height: 159px;">
                    <p class="fisica">Adivina Adivinador</p>
                  </td>
                  <td style="width: 93.2%; height: 250px;">
                    <ion-row>
                      <ion-col size="4">

                        <table style="border-collapse: collapse; width: 70%; height: 286px;text-align: center;"
                          class="label2">
                          <tbody>
                            <tr>
                              <td style="text-align: -webkit-center;">
                                <ion-img style="cursor: pointer;width:70%;height:70%;" src="../assets/img/acti/act2.png"
                                  (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                            <tr style="height: 45px;">
                              <td style="width: 100%; height: 45px;"><b>¿Quien Ganará?</b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Tickets para participar:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;"> <b class="label2">1000 <b
                                    class="label3">tickets</b></b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Fecha de Finalizacion:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;">
                                DD-MM-AAAA
                              </td>
                            </tr>
                            <tr style="height: 44px;">
                              <td style="width: 100%; height: 44px;">
                                <h2 class="nameChallenges">Reglas del juego</h2>
                              </td>
                            </tr>
                            <tr style="height: 58px;">
                              <td style="width: 100%; height: 58px;">
                                <ion-img width="70" height="70" style="cursor: pointer;"
                                  src="../assets/img/comojuega.png" (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                          </tbody>
                        </table>



                      </ion-col>
                      <ion-col size="4">

                        <table style="border-collapse: collapse; width: 70%; height: 286px;text-align: center;"
                          class="label2">
                          <tbody>
                            <tr>
                              <td style="text-align: -webkit-center;">
                                <ion-img style="cursor: pointer;width:70%;height:70%;" src="../assets/img/acti/act3.png"
                                  (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                            <tr style="height: 45px;">
                              <td style="width: 100%; height: 45px;"><b>Super Lotto</b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Tickets para participar:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;"> <b class="label2">1000 <b
                                    class="label3">tickets</b></b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Fecha de Finalizacion:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;">
                                DD-MM-AAAA
                              </td>
                            </tr>
                            <tr style="height: 44px;">
                              <td style="width: 100%; height: 44px;">
                                <h2 class="nameChallenges">Reglas del juego</h2>
                              </td>
                            </tr>
                            <tr style="height: 58px;">
                              <td style="width: 100%; height: 58px;">
                                <ion-img width="70" height="70" style="cursor: pointer;"
                                  src="../assets/img/comojuega.png" (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                          </tbody>
                        </table>



                      </ion-col>
                      <ion-col size="4">

                        <table style="border-collapse: collapse; width: 70%; height: 286px;text-align: center;"
                          class="label2">
                          <tbody>
                            <tr>
                              <td style="text-align: -webkit-center;">
                                <ion-img style="cursor: pointer;width:70%;height:70%;" src="../assets/img/acti/act1.png"
                                  (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                            <tr style="height: 45px;">
                              <td style="width: 100%; height: 45px;"><b>TheRETOS 3</b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Tickets para participar:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;"> <b class="label2">1000 <b
                                    class="label3">tickets</b></b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Fecha de Finalizacion:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;">
                                DD-MM-AAAA
                              </td>
                            </tr>
                            <tr style="height: 44px;">
                              <td style="width: 100%; height: 44px;">
                                <h2 class="nameChallenges">Reglas del juego</h2>
                              </td>
                            </tr>
                            <tr style="height: 58px;">
                              <td style="width: 100%; height: 58px;">
                                <ion-img width="70" height="70" style="cursor: pointer;"
                                  src="../assets/img/comojuega.png" (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                          </tbody>
                        </table>



                      </ion-col>
                    </ion-row>



                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="wrapper">
          <div class="prsCard3 img-fluid">

            <table class="prsTable">
              <tbody>
                <tr style="height: 159px;">
                  <td style="height: 159px;">
                    <p class="fisica">ㅤㅤ Rallysㅤㅤ</p>
                  </td>
                  <td style="width: 93.2%; height: 250px;">
                    <ion-row>
                      <ion-col size="4">

                        <table style="border-collapse: collapse; width: 70%; height: 286px;text-align: center;"
                          class="label2">
                          <tbody>
                            <tr>
                              <td style="text-align: -webkit-center;">
                                <ion-img style="cursor: pointer;width:70%;height:70%;" src="../assets/img/acti/act6.png"
                                  (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                            <tr style="height: 45px;">
                              <td style="width: 100%; height: 45px;"><b>Rally Colombia</b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Tickets para participar:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;"> <b class="label2">1000 <b
                                    class="label3">tickets</b></b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Fecha de Finalizacion:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;">
                                DD-MM-AAAA
                              </td>
                            </tr>
                            <tr style="height: 44px;">
                              <td style="width: 100%; height: 44px;">
                                <h2 class="nameChallenges">Reglas del juego</h2>
                              </td>
                            </tr>
                            <tr style="height: 58px;">
                              <td style="width: 100%; height: 58px;">
                                <ion-img width="70" height="70" style="cursor: pointer;"
                                  src="../assets/img/comojuega.png" (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                          </tbody>
                        </table>



                      </ion-col>
                      <ion-col size="4">

                        <table style="border-collapse: collapse; width: 70%; height: 286px;text-align: center;"
                          class="label2">
                          <tbody>
                            <tr>
                              <td style="text-align: -webkit-center;">
                                <ion-img style="cursor: pointer;width:70%;height:70%;" src="../assets/img/acti/act5.png"
                                  (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                            <tr style="height: 45px;">
                              <td style="width: 100%; height: 45px;"><b>Juegos TheRETOS</b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Tickets para participar:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;"> <b class="label2">1000 <b
                                    class="label3">tickets</b></b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Fecha de Finalizacion:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;">
                                DD-MM-AAAA
                              </td>
                            </tr>
                            <tr style="height: 44px;">
                              <td style="width: 100%; height: 44px;">
                                <h2 class="nameChallenges">Reglas del juego</h2>
                              </td>
                            </tr>
                            <tr style="height: 58px;">
                              <td style="width: 100%; height: 58px;">
                                <ion-img width="70" height="70" style="cursor: pointer;"
                                  src="../assets/img/comojuega.png" (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </ion-col>
                      <ion-col size="4">
                        <table style="border-collapse: collapse; width: 70%; height: 286px;text-align: center;"
                          class="label2">
                          <tbody>
                            <tr>
                              <td style="text-align: -webkit-center;">
                                <ion-img style="cursor: pointer;width:70%;height:70%;" src="../assets/img/acti/act4.png"
                                  (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                            <tr style="height: 45px;">
                              <td style="width: 100%; height: 45px;"><b>TheRETOS 3</b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Tickets para participar:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;"> <b class="label2">1000 <b
                                    class="label3">tickets</b></b></td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;" class="label">Fecha de Finalizacion:</td>
                            </tr>
                            <tr style="height: 18px;">
                              <td style="width: 100%; height: 18px;">
                                DD-MM-AAAA
                              </td>
                            </tr>
                            <tr style="height: 44px;">
                              <td style="width: 100%; height: 44px;">
                                <h2 class="nameChallenges">Reglas del juego</h2>
                              </td>
                            </tr>
                            <tr style="height: 58px;">
                              <td style="width: 100%; height: 58px;">
                                <ion-img width="70" height="70" style="cursor: pointer;"
                                  src="../assets/img/comojuega.png" (click)="details(challeng)"></ion-img>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </ion-col>
                    </ion-row>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title style="text-align: -webkit-center;"> 
        <h2 class="nameChallenges2">¿Te gustaría crear tus propios retos?&nbsp; &nbsp;&nbsp;  <span routerLink="/app/tabs/newChalleges" class="spanlabel">  ¡Haz click aqui!</span> </h2> 
      </ion-title>
    </ion-toolbar>
  </ion-footer>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="roleAutorized">
    <ion-fab-button routerLink="create" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
