<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favorites
      </ion-segment-button>
    </ion-segment>
    <ion-title>TheRetos</ion-title>



    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText"
      (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">


      <h4 *ngFor="let tickets of Tickets">
        <ion-icon color="warning" name="ticket-outline"></ion-icon> {{tickets.total_ticket}}
      </h4>


      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="all">
        Todos
      </ion-segment-button>
      <ion-segment-button value="favorites">
        Favoritos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen>
  <ion-list>

    <ion-item button detail="true" *ngFor="let challeng of Challengs">
      <ion-avatar slot="start" (click)="details(challeng)">
        <ion-icon name="flash"></ion-icon>
      </ion-avatar>
      <ion-label (click)="details(challeng)">
        <h2> {{challeng.name_challeng}}</h2>
        <!-- <h3>Categoria: {{challeng.category}}</h3> -->
        <ion-label color="secondary">Tickets: {{challeng.token_in}}</ion-label>

      </ion-label>
    </ion-item>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="roleAutorized">
    <ion-fab-button routerLink="create" color="danger">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>