<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button   defaultHref="/app/tabs/challenges"></ion-back-button>
      </ion-buttons>
      <ion-buttons *ngIf="speaker" slot="end">
        <ion-button (click)="openContact(speaker)">
          <ion-icon slot="icon-only" ios="call-outline" md="call-sharp"></ion-icon>
        </ion-button>
        <ion-button (click)="openSpeakerShare(speaker)">
          <ion-icon slot="icon-only" ios="share-outline" md="share-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let challenges of Challenges" class="speaker-background">
    <!--    <img [src]="speaker?.profilePic" [alt]="speaker?.name">-->
    <h2 class="nameChallenges">{{challenges.name_challeng}}</h2>
    
    
  </div>


  <div *ngFor="let challenges of Challenges"  class="ion-padding speaker-detail">
    <p>{{challenges.description}}</p>
 <!--    <ion-item>
      <ion-label>Categoria</ion-label>
      <ion-label slot="end" color="success">
        <ion-chip color="twitter" button>
          <ion-icon name="sparkles-outline"></ion-icon>
          <ion-label>{{challenges.category}}</ion-label>
        </ion-chip>
        </ion-label>
    </ion-item> -->
    <ion-item *ngFor="let details of details">
      <ion-label>Tickets Acumulados</ion-label>
      <ion-label slot="end" color="warning"><ion-icon name="ticket-outline"></ion-icon>{{details.count}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Tickets para Participar</ion-label>
      <ion-label slot="end" color="success">{{challenges.token_in}}</ion-label>
    </ion-item>
    <ion-item *ngFor="let details of details">
      <ion-label>Ver Participantes</ion-label>
      <ion-label slot="end" color="secundary"><ion-icon name="happy-outline"></ion-icon>{{details.players}}/{{challenges.person_limit}}</ion-label>
    </ion-item>


  

    <form #signupForm="ngForm" novalidate>
      <ion-list>
        <ion-item>
          <ion-label position="stacked" color="primary">Participacion</ion-label>
          <ion-input [(ngModel)]="NewChallengs.answer" name="answer" type="text" #answer="ngModel" required>
          </ion-input>
        </ion-item>
        <ion-text color="danger">
          <p [hidden]="answer.valid || submitted == false" class="ion-padding-start">
            Ingresa tu respuesta
          </p>
        </ion-text>
      </ion-list>
  
      <div class="ion-padding">
        <ion-button (click)="presentAlertConfirm(signupForm)" type="submit" expand="block">Participar</ion-button>
      </div>
    </form>




    <hr>
    <ion-note  color="primary">Compartir</ion-note>
    <br>
    <ion-chip color="twitter" button (click)="openExternalUrl('https://twitter.com/' + speaker.twitter)">
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-label>Twitter</ion-label>
    </ion-chip>

    <ion-chip color="dark" button (click)="openExternalUrl('https://Facebook.com')">
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-label>Facebook</ion-label>
    </ion-chip>

    <ion-chip color="instagram" button (click)="openExternalUrl('https://instagram.com/ionicframework')">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-label>Instagram</ion-label>
    </ion-chip>
  </div>



  
</ion-content>
